<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>tabbarTintColor</key>
		<string>#925657</string>
		<key>tableViewBackgroundColor</key>
		<string>#1b1b1b</string>
		<key>globalRedColor</key>
		<string>#651413</string>
		<key>cellRightTextColor</key>
		<string>#707070</string>
		<key>separatorViewColor</key>
		<string>#707070</string>
		<key>cellBackgroundColor</key>
		<string>#252525</string>
		<key>moreLoginButton</key>
		<string>#00000060</string>
		<key>moreLoginText</key>
		<string>#ffffff</string>
		<key>black</key>
		<string>#707070</string>
		<key>navigationBarTintColor</key>
		<string>#707070</string>
	</dict>
	<key>images</key>
	<dict>
		<key>tabbarCenterButtonPress</key>
		<string>feed_publish_press_night_44x44_</string>
		<key>tabbarCenterButton </key>
		<string>feed_publish_night_44x44_</string>
		<key>cellRightArrow</key>
		<string>setting_rightarrow_8x14_</string>
		<key>mobileButton</key>
		<string>cellphoneicon_login_profile_night_66x66_</string>
		<key>wechatButton</key>
		<string>weixinicon_login_profile_night_66x66_</string>
		<key>qqButton</key>
		<string>qqicon_login_profile_night_66x66_</string>
		<key>sinaButton</key>
		<string>sinaicon_login_profile_night_66x66_</string>
		<key>favoriteButton</key>
		<string>favoriteicon_profile_night_24x24_</string>
		<key>historyButton</key>
		<string>history_profile_night_24x24_</string>
		<key>dayOrNightButton</key>
		<string>nighticon_profile_24x24_</string>
	</dict>
</dict>
</plist>
